################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StockPriceAlerts/bin/Debug/net6.0
/StockPriceAlerts/obj
/.vs/StockPriceAlerts/v17
